* {
	margin: 0;
	padding: 0;
}

:root {
	--main-color: black;
}

@font-face {
	font-family: "Avenir";
	src: url("../fonts/avenir/avenir-light.otf");
}

body {
	font-family: "Avenir";
	text-align: center;
}

h1 {
	font-size: 100px;
	margin-top: 100px;
}

p {
	font-size: 20px;
}